*.pyc
*.swo
*.swp
*.swm
*.swn
*.swl
*.log
/.ropeproject/
/build/
/dist/
/anyfield.egg-info/
/anyfield.egg-info/
/docs/build/
/venv/
.ropeproject
.coverage
/coverage/
.ipynb_checkpoints/
/examples/tmp
.eggs/
/htmlcov
